.button {
    color: white;
    background-color: darkred;
    padding: 10px 20px;
}

.student-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 300px;
    overflow-y: auto;
}

.student-list__item {
    display: flex;
    padding: 10px 20px;
    background-color: ghostwhite;
    border-radius: 5px;
}

.status-marker {
    width: 20px;
    height: 20px;
    margin-left: auto;
    border-radius: 100%;
    background-color: green;
}

.status-marker--danger {
    background-color: red;
}
