@import "../../styles/colors.scss";

.button {
    color: $color-font-primary;
    background-color: $color-button-primary;
    padding: 50px 100px;
    font-size: 72px;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(120%);
    }
}
