:root {
    --color-button-primary: darkred;
    --color-font-primary: white;
    --color-success: green;
    --color-danger: red;
    --color-bg-primary: lightgreen;
    --color-bg-secondary: ghostwhite;
}
